@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 不累加內距與邊框 */
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  /* 字體 英文先寫中文後 中文字體設定中英字體名都寫最保險 */
  font-size: 100%;
  line-height: 1.5;
  /* background-color: #8f6b6d; */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
li,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  /* 常設a為display:block  但若有文字超連結*/
  text-decoration: none;
  color: var(--deep);
}

body {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100vw;
}
header nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
header nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
header nav .logo img {
  width: 48px;
}
header nav .btn_menu_wrap {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
}
header nav .btn_menu_wrap .search_box {
  width: 200px;
  height: 38px;
  border-radius: 99px;
  background-color: white;
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
}
header nav .btn_menu_wrap .search_box img {
  width: 20px;
}
header nav .btn_menu_wrap .search_box input {
  width: 80%;
  border: none;
  outline: none;
  height: 35px;
  font-size: 18px;
  margin-right: 5px;
}
header nav .btn_menu_wrap .vote_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 99px;
  margin-right: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* Keyframes for gradient flow */
}
header nav .btn_menu_wrap .vote_btn::before {
  content: "";
  position: absolute;
  top: -3px;
  /* Adjust to match the border width */
  left: -3px;
  /* Adjust to match the border width */
  right: -3px;
  /* Adjust to match the border width */
  bottom: -3px;
  /* Adjust to match the border width */
  border-radius: 99px;
  background: linear-gradient(135deg, #ff1491, #ff63b6, #eae72d, #cc24ff, #b70aec);
  background-size: 200% 200%;
  /* Make the gradient larger than the element */
  z-index: -1;
  transition: background-position 1s ease;
  /* Smooth transition */
}
@keyframes gradient-flow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
header nav .btn_menu_wrap .vote_btn:hover::before {
  animation: gradient-flow 2s linear infinite;
  /* Animation for gradient flow */
}
header nav .btn_menu_wrap .vote_btn a {
  width: 100%;
  text-align: center;
}
header nav .btn_menu_wrap .menu {
  width: 48px;
  height: 48px;
  background-color: gray;
}

#background {
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 50px);
  height: calc(600% + 50px);
  background: repeating-linear-gradient(#ebeaea, #f6f6f6 50%, #fff 50%, #fff);
  background-size: 6px 6px;
  filter: url(#noise);
  z-index: -2;
}
#background svg {
  filter: url(#noise);
  -webkit-filter: url(#noise);
  width: 0;
  height: 0;
}

#banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#banner .title {
  width: 100%;
  margin-top: 6vw;
  display: flex;
  justify-content: center;
}
#banner .title img {
  width: 40vw;
}
#banner .text {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 3vw 0 0 17vw;
  height: 60px;
  font-size: 2vw;
  font-weight: 500;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 2.2vw;
}
#banner .banner_content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 7vw;
}
#banner .banner_content .content_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .banner_content .content_wrap .tk img {
  width: 24vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 移動至中心 */
}
#banner .banner_content .content_wrap .line {
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(135deg, #ff1491, #ff63b6, #eae72d, #cc24ff, #b70aec);
}
#banner .banner_content .content_wrap img {
  position: absolute;
  width: 30vw;
}

#newGroup {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.822);
  position: relative;
  overflow: hidden;
}
#newGroup .title_wrap {
  color: #fff;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 6vw 0 20px 6vw;
}
#newGroup .title_wrap .title_en {
  font-size: 5vw;
}
#newGroup .title_wrap .title_cn {
  font-size: 2vw;
}
#newGroup .tk_box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#newGroup .tk_box .tk_wrap {
  cursor: pointer;
  width: auto;
  display: flex;
}
#newGroup .tk_box .tk_wrap .tk {
  background-color: #fff;
  height: 260px;
  border: black solid;
  border-radius: 20px;
  position: relative;
  padding: 20px;
}
#newGroup .tk_box .tk_wrap .tk_l {
  width: 100px;
  display: flex;
}
#newGroup .tk_box .tk_wrap .tk_l .type_bg {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* 讓文字靠底部 */
  position: relative;
  background-image: none;
  background-size: 300% 300%;
  background-position: 0% 0%;
  transition: background-position 2s ease;
}
#newGroup .tk_box .tk_wrap .tk_l .type_bg div {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  transform: rotate(-90deg);
  transform-origin: left top;
  /* 調整旋轉基點 */
}
#newGroup .tk_box .tk_wrap:hover .tk_l .type_bg {
  background-color: transparent;
  background-image: linear-gradient(135deg, black, #ff1491, #eae72d, #9212b8, black, black, black, black);
  animation: gradientMove 0.4s linear forwards alternate;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
#newGroup .tk_box .tk_wrap .tk_md {
  width: 460px;
  border-right: 0px;
  border-left: 1px;
  display: flex;
}
#newGroup .tk_box .tk_wrap .tk_md .img_box {
  border: 1px solid black;
  height: 218px;
  width: 218px;
  flex-shrink: 0;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box {
  padding: 0 0 0 10px;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box h1 {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box .text {
  padding: 10px 5px;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box .text p {
  font-size: 15px;
  line-height: 20px;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box .pl {
  margin: 0 0 15px 0;
  display: flex;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box .pl img {
  width: 20px;
}
#newGroup .tk_box .tk_wrap .tk_md .content_box .tag_wrap {
  font-size: 14px;
  flex-wrap: wrap;
  /* 允許子元素換行 */
  align-items: flex-start;
  /* 讓所有子元素靠上排列 */
  justify-content: flex-start;
  /* 讓子元素靠左排列 */
}
#newGroup .tk_box .tk_wrap .tk_md .content_box .tag_wrap .tag {
  padding: 1px 8px;
  display: inline-flex;
  /* 確保標籤的內容內聯排列 */
  align-items: center;
  align-items: center;
  margin-right: 2px;
  /* 每個標籤之間的間距 */
  margin-bottom: 5px;
  /* 換行時標籤之間的垂直間距 */
  word-break: break-word;
  /* 避免過長內容溢出，換行顯示 */
  border: 1px;
  border-radius: 99px;
  border: 1px solid black;
}
#newGroup .tk_box .tk_wrap .tk_r {
  width: 180px;
  border-left: 0px;
}
#newGroup .tk_box .tk_wrap .tk_r::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -1px;
  /* 控制虛線的起始位置 */
  width: 2px;
  border-left: 2px dashed black;
}
#newGroup .tk_box .tk_wrap .tk_r .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#newGroup .tk_box .tk_wrap .tk_r .wrap div {
  text-align: center;
}
#newGroup .tk_box .tk_wrap .tk_r .wrap .date {
  padding: 0 20px;
  font-size: 35px;
  line-height: 39px;
  background-color: rgb(129, 129, 129);
  color: white;
  margin-bottom: 16px;
}
#newGroup .tk_box .tk_wrap .tk_r .wrap .time {
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 16px;
  margin: 35px 0;
}
#newGroup .tk_box .tk_wrap .tk_r .wrap .location {
  display: flex;
  justify-content: center;
  margin-right: 8px;
}
#newGroup .tk_box .tk_wrap .tk_r .wrap .location img {
  width: 22px;
}
#newGroup .arr_more {
  position: absolute;
  bottom: 7vw;
  right: 7vw;
  color: white;
}
#newGroup .arr_more .text {
  font-size: 18px;
}
#newGroup .arr_more .arrow {
  margin-top: -10px;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
}
#newGroup .arr_more .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
}
#newGroup .arr_more .arrow::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: white;
  transform: rotate(45deg);
}

#direction {
  position: relative;
  height: 85vw;
  overflow: hidden;
}
#direction .content {
  display: flex;
  flex-direction: column;
}
#direction .content .sec1,
#direction .content .sec2 {
  margin: 2vw;
  padding: 2.8vw;
  border-bottom: 1px solid black;
  width: 52vw;
}
#direction .content .sec1 {
  margin-bottom: 0;
}
#direction .content .title_cn {
  font-size: 2.2vw;
  font-weight: 600;
  font-family: "LXGW WenKai Mono TC", monospace;
  letter-spacing: 1px;
}
#direction .content .title_main {
  display: flex;
}
#direction .content .title_en {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5vw;
  margin: 1vw 0;
  white-space: nowrap;
}
#direction .content .text_s {
  font-size: 1.2vw;
  font-family: "Noto Sans TC", sans-serif;
}
#direction .content .text1,
#direction .content .text2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4vw;
  line-height: 2.5vw;
  display: flex;
}
#direction .content .text1 img,
#direction .content .text2 img {
  width: 1.6vw;
  margin-right: 4px;
}
#direction .type_banner {
  position: absolute;
  padding-top: 1.6vw;
  right: 0;
  top: 0;
  color: rgb(30, 30, 30);
  display: flex;
  align-items: start;
  width: 42vw;
}
#direction .type_banner .en {
  display: inline-block;
  font-size: 10vw;
  font-weight: 900;
  line-height: 10.5vw;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  letter-spacing: 3px;
  white-space: nowrap;
}
#direction .type_banner .cn {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 3vw;
  writing-mode: vertical-lr;
  font-weight: 400;
}
#direction .type_banner .others {
  position: relative;
}
#direction .type_banner .h_img {
  transition: opacity 0.2s ease-in-out;
  display: none;
  position: absolute;
  width: 100px; /* 調整圖片大小 */
  height: auto;
  z-index: 9999;
}

#voting {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
#voting .title_wrap {
  color: black;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5vw 0 0;
}
#voting .title_wrap .title_en {
  font-size: 5vw;
}
#voting .title_wrap .title_cn {
  margin-top: -15px;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
}
#voting .htk_wrap {
  padding: 2vw;
  display: flex;
  justify-content: center;
  width: 100%;
}
#voting .htk_wrap .htk_box {
  margin: 2vw;
  height: 420px;
  width: 260px;
}
#voting .htk_wrap .htk_box .htk_img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  border: 2px black solid;
  height: 300px;
  width: 260px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 20px;
}
#voting .htk_wrap .htk_box .htk_img .type_tag {
  background-color: black;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  font-weight: 700;
}
#voting .htk_wrap .htk_box .htk_img .img_wrap {
  height: 260px;
}
#voting .htk_wrap .htk_box .htk_img .img_wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  /* 確保圖片填滿寬度 */
  height: 100%;
  /* 確保圖片填滿高度 */
}
#voting .htk_wrap .htk_box .htk_content {
  border: 2px black solid;
  border-top: 0px;
  height: 120px;
  width: 260px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 20px;
  background-color: white;
  padding: 10px 26px;
}
#voting .htk_wrap .htk_box .htk_content .e_title {
  font-family: "Noto Sans TC", system-ui;
  font-size: 18px;
  font-weight: 600;
}
#voting .htk_wrap .htk_box .htk_content .e_location {
  margin-top: 18px;
  margin-left: -4px;
  display: flex;
}
#voting .htk_wrap .htk_box .htk_content .e_location img {
  width: 20px;
}
#voting .htk_btn {
  display: flex;
  position: relative;
  width: 100%;
}
#voting .htk_btn .arr_more {
  z-index: 2;
  position: absolute;
  right: 7vw;
  color: black;
}
#voting .htk_btn .arr_more .text {
  font-size: 18px;
}
#voting .htk_btn .arr_more .arrow {
  margin-top: -10px;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
}
#voting .htk_btn .arr_more .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
}
#voting .htk_btn .arr_more .arrow::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
}

#pic_show {
  margin-top: 10vw;
  height: 20vw;
  width: 300%;
}
#pic_show img {
  align-items: start;
  justify-self: start;
  height: 100%;
  width: 300%;
  -o-object-fit: cover;
     object-fit: cover;
}

#follow_news {
  height: 100vh;
}
#follow_news .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../img/banner/circle.png);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 100px;
}
#follow_news .content .text {
  width: 30vw;
  margin-top: -2vw;
  margin-bottom: 2vw;
}
#follow_news .content .email_box {
  width: 21vw;
  height: 48px;
  border-radius: 99px;
  background-color: black;
  border: white 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#follow_news .content .email_box img {
  margin: 8px;
  width: 30px;
}
#follow_news .content .email_box input {
  width: 84%;
  border: none;
  outline: none;
  height: 35px;
  font-size: 18px;
  margin-right: 5px;
  background-color: black;
  color: white;
}/*# sourceMappingURL=index.css.map */