@use 'reset';

#footer {
    width           : 100%;
    height          : 200px;
    background-color: transparent;

    .main_wrap {
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-direction : column;

        .logo_wrap {
            margin: 5vw;
            img{
                width: 4vw;
            }

        }

        ul {
            display        : flex;
            align-items    : center;
            justify-content: center;

            li {
                font-size: 1.2vw;
                margin: 1vw;
            }
        }

        .copyRight {
            
            font-family: "Noto Serif TC", "Noto Serif TC", serif;
            padding    : 20px 0;
            font-size: 1vw;
        }
    }
}

footer ul,
footer ol,
footer li {
    list-style: none;
}