@use 'reset';
@use './_footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&display=swap');





.tooltip {
    position: absolute;
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000; /* 確保 tooltip 在最上面 */
}

.react-tooltip {
    display: block !important; /* 強制顯示以檢查 */
    position: absolute;
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000; /* 確保 tooltip 在最上面 */
  }

/*  */

header {
    position: absolute;
    top     : 0;
    z-index : 99;
    width   : 100vw;

    nav {
        position       : fixed;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        width          : 100%;
        height         : 50px;
        // border: 2px solid black;

        .logo {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 48px;
            height         : 48px;

            img {
                width: 48px;
            }
        }

        .btn_menu_wrap {
            display        : flex;
            width          : 450px;
            justify-content: space-between;
            align-items    : center;

            .search_box {
                width           : 200px;
                height          : 38px;
                border-radius   : 99px;
                background-color: white;
                border          : black 1px solid;
                display         : flex;
                align-items     : center;
                justify-content : space-between;
                padding         : 10px;
                margin-right    : 10px;

                img {
                    width: 20px;
                }

                input {
                    width       : 80%;
                    border      : none;
                    outline     : none;
                    height      : 35px;
                    font-size   : 18px;
                    margin-right: 5px;
                }
            }

            .vote_btn {
                position        : relative;
                display         : flex;
                align-items     : center;
                justify-content : center;
                width           : 200px;
                height          : 40px;
                background-color: black;
                color           : white;
                border-radius   : 99px;
                margin-right    : 10px;
                border          : 3px solid transparent;
                background-clip : padding-box;
                cursor          : pointer;
                transition      : transform 0.3s ease;


                &::before {
                    content        : '';
                    position       : absolute;
                    top            : -3px;
                    /* Adjust to match the border width */
                    left           : -3px;
                    /* Adjust to match the border width */
                    right          : -3px;
                    /* Adjust to match the border width */
                    bottom         : -3px;
                    /* Adjust to match the border width */
                    border-radius  : 99px;
                    background     : linear-gradient(135deg, #ff1491, #ff63b6, #eae72d, #cc24ff, #b70aec);
                    background-size: 200% 200%;
                    /* Make the gradient larger than the element */
                    z-index        : -1;
                    transition     : background-position 1s ease;
                    /* Smooth transition */


                }

                /* Keyframes for gradient flow */
                @keyframes gradient-flow {
                    0% {
                        background-position: 0% 0%;
                    }

                    50% {
                        background-position: 100% 100%;
                    }

                    100% {
                        background-position: 0% 0%;
                    }
                }

                &:hover::before {
                    animation: gradient-flow 2s linear infinite;
                    /* Animation for gradient flow */
                }

                a {
                    width     : 100%;
                    text-align: center;
                }
            }

            .menu {
                width           : 48px;
                height          : 48px;
                background-color: gray;
            }

        }

    }
}


#background {
    position       : absolute;
    top            : -50px;
    left           : -50px;
    width          : calc(100% + 50px);
    height         : calc(600% + 50px);
    background     : repeating-linear-gradient(#ebeaea, #f6f6f6 50%, #fff 50%, #fff);
    background-size: 6px 6px;
    filter         : url(#noise);
    z-index        : -2;

    svg {
        filter        : url(#noise);
        -webkit-filter: url(#noise);
        width         : 0;
        height        : 0;
    }
}

#banner {
    position      : relative;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    height        : 100vh;

    .title {
        width          : 100%;
        margin-top     : 6vw;
        display        : flex;
        // align-items: center;
        justify-content: center;

        img {
            width: 40vw;
        }
    }

    .text {
        display       : flex;
        flex-direction: column;
        align-items   : end;
        margin        : 10px 0 0 17vw;
        height        : 60px;
        font-size     : 2vw;
        font-weight   : 500;
        font-family   : "Noto Sans TC", sans-serif;
        font-weight   : 400;
        line-height   : 2.2vw;
    }

    .banner_content {
        position       : absolute;
        width          : 100%;
        height         : 100%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        top            : 7vw;

        .content_wrap {
            position       : relative;
            width          : 100%;
            height         : 100%;
            display        : flex;
            align-items    : center;
            justify-content: center;


            .tk {
                img {
                    width    : 24vw;
                    top      : 50%;
                    left     : 50%;
                    transform: translate(-50%, -50%);
                    /* 移動至中心 */
                }
            }

            .line {
                position  : absolute;
                width     : 100%;
                height    : 3px;
                background: linear-gradient(135deg, #ff1491, #ff63b6, #eae72d, #cc24ff, #b70aec);

            }

            img {
                position: absolute;
                width   : 20vw;
            }

            // .star {

            //     transform-origin: center;
            //     animation       : scale 7s ease-in-out infinite;

            // }
            // @keyframes scale {
            //     0%,
            //     100% {
            //         transform: scale(0.67);
            //     }
            //     50% {
            //         transform: scale(1.02);
            //     }
            // }
        }
    }

}

#newGroup {
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.822);
    position        : relative;
    overflow        : hidden;

    .title_wrap {
        color          : #fff;
        font-family    : "Inika", serif;
        font-weight    : 400;
        font-style     : normal;
        display        : flex;
        flex-direction : column;
        align-items    : start;
        justify-content: center;
        width          : 100%;
        padding        : 6vw 0 20px 6vw;

        .title_en {
            font-size: 5vw;
        }

        .title_cn {
            font-size: 2vw;
        }
    }

    .tk_box {
        position       : absolute;
        top            : 0;
        height         : 100%;
        width          : 100%;
        display        : flex;
        justify-content: center;
        align-items    : center;

        .tk_wrap {
            cursor    : pointer;
            width     : auto;
            display   : flex;
            transition: transform 0.5s ease;
            transform : rotate(45deg) translateY(-1110px);
            transform-origin: center;/* 設置旋轉軸在物件中心 */

            .tk {
                background-color: #fff;
                height          : 260px;
                border          : black solid;
                border-radius   : 20px;
                position        : relative;
                padding         : 20px;
            }

            .tk_l {
                width  : 100px;
                display: flex;

                .type_bg {
                    background-color   : black;
                    height             : 100%;
                    width              : 100%;
                    display            : flex;
                    justify-content    : flex-end;
                    /* 讓文字靠底部 */
                    position           : relative;
                    background-image   : none;
                    background-size    : 300% 300%; // 設定背景尺寸較大，便於動畫流動
                    background-position: 0% 0%; // 初始位置
                    transition         : background-position 2s ease;
                    // hover 在 .tk_wrap 上時，觸發漸變和背景流動效果

                    div {
                        position        : absolute;
                        left            : 0;
                        bottom          : 0;
                        // height: 100%;
                        // width: 100%;
                        color           : #fff;
                        font-weight     : 800;
                        font-size       : 50px;
                        transform       : rotate(-90deg);
                        transform-origin: left top;
                        /* 調整旋轉基點 */
                    }
                }
            }

            &:hover .tk_l .type_bg {
                background-color: transparent; // 移除黑色背景，显示渐变
                background-image: linear-gradient(135deg, black, #ff1491, #eae72d, #9212b8, black, black, black, black); // 渐变背景
                animation       : gradientMove 0.4s linear forwards alternate;

            }

            // 定义背景流动的关键帧动画
            @keyframes gradientMove {
                0% {
                    background-position: 0% 0%;
                }

                100% {
                    background-position: 100% 100%;
                }
            }

            .tk_md {
                width       : 460px;
                border-right: 0px;
                border-left : 1px;
                display     : flex;

                .img_box {
                    border     : 1px solid black;
                    height     : 218px;
                    width      : 218px;
                    flex-shrink: 0
                }

                .content_box {

                    padding: 0 0 0 10px;

                    h1 {
                        font-size     : 18px;
                        font-weight   : 800;
                        padding-bottom: 10px;
                        border-bottom : 1px solid black;
                    }

                    .text {
                        padding: 10px 5px;

                        p {
                            font-size  : 15px;
                            line-height: 20px;
                        }
                    }

                    .pl {
                        margin : 0 0 15px 0;
                        display: flex;

                        img {
                            width: 20px;
                        }
                    }

                    .tag_wrap {
                        font-size      : 14px;
                        flex-wrap      : wrap;
                        /* 允許子元素換行 */
                        align-items    : flex-start;
                        /* 讓所有子元素靠上排列 */
                        justify-content: flex-start;

                        /* 讓子元素靠左排列 */
                        .tag {
                            padding      : 1px 8px;
                            display      : inline-flex;
                            /* 確保標籤的內容內聯排列 */
                            align-items  : center;
                            align-items  : center;
                            margin-right : 2px;
                            /* 每個標籤之間的間距 */
                            margin-bottom: 5px;
                            /* 換行時標籤之間的垂直間距 */
                            word-break   : break-word;
                            /* 避免過長內容溢出，換行顯示 */
                            border       : 1px;
                            border-radius: 99px;
                            border       : 1px solid black;
                        }
                    }
                }

            }

            .tk_r {
                width      : 180px;
                border-left: 0px;

                &::before {
                    content    : '';
                    position   : absolute;
                    top        : 10px;
                    bottom     : 10px;
                    left       : -1px;
                    /* 控制虛線的起始位置 */
                    width      : 2px;
                    border-left: 2px dashed black;
                }

                .wrap {
                    width             : 100%;
                    height            : 100%;
                    display           : flex;
                    flex-direction    : column;
                    align-items       : center;
                    // justify-content: center;
                    text-align        : center;

                    div {
                        text-align: center;
                    }

                    .date {
                        padding         : 0 20px;
                        font-size       : 35px;
                        line-height     : 39px;
                        background-color: rgb(129, 129, 129);
                        color           : white;
                        margin-bottom   : 16px;
                    }

                    .time {
                        background-color: black;
                        color           : white;
                        font-size       : 14px;
                        line-height     : 16px;
                        margin          : 35px 0;
                    }

                    .location {
                        display        : flex;
                        justify-content: center;

                        img {
                            width: 22px;
                        }

                        margin-right: 8px;
                    }

                }
            }
        }


    }

    .arr_more {
        position: absolute;
        bottom  : 7vw;
        right   : 7vw;
        color   : white;

        .text {
            font-size: 18px;

        }

        .arrow {
            margin-top: -10px;
            position  : relative;
            display   : inline-block;
            width     : 150px;
            height    : 50px;



            &::before {
                content         : '';
                position        : absolute;
                top             : 50%;
                left            : -2px;
                width           : 100%;
                height          : 2px;
                background-color: white;
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 18px;
                right           : 0;
                width           : 20px;
                height          : 2px;
                background-color: white;
                transform       : rotate(45deg);
            }
        }


    }

}

#direction {
    position: relative;
    height  : 85vw;
    overflow: hidden;

    .content {
        display       : flex;
        flex-direction: column;

        .sec1,
        .sec2 {
            margin       : 2vw;
            padding      : 2.8vw;
            border-bottom: 1px solid black;
            width        : 52vw;
        }

        .sec1 {
            margin-bottom: 0;
        }

        .title_cn {
            font-size     : 2.2vw;
            font-weight   : 600;
            font-family   : "LXGW WenKai Mono TC", monospace;
            letter-spacing: 1px;

        }

        .title_main {
            display: flex;
        }

        .title_en {
            font-family: "Inika", serif;
            font-weight: 400;
            font-style : normal;
            font-size  : 4.5vw;
            margin     : 1vw 0;
            white-space: nowrap;
        }

        .text_s {
            font-size  : 1.2vw;
            font-family: "Noto Sans TC", sans-serif;
        }

        .text1,
        .text2 {
            font-family: "Noto Sans TC", sans-serif;
            font-size  : 1.4vw;
            line-height: 2.5vw;
            display    : flex;

            img {
                width       : 1.6vw;
                margin-right: 4px;

            }
        }
    }

    .type_banner {
        position   : absolute;
        padding-top: 1.6vw;
        right      : 0;
        top        : 0;
        color      : rgb(30, 30, 30);
        display    : flex;
        align-items: start;
        width      : 42vw;

        .en {
            display         : inline-block;
            font-size       : 10vw;
            font-weight     : 900;
            line-height     : 10.5vw;
            writing-mode    : vertical-lr;
            text-orientation: mixed;
            letter-spacing  : 3px;
            white-space     : nowrap;
        }


        .cn {
            font-family : "Noto Sans TC", sans-serif;
            font-size   : 3vw;
            writing-mode: vertical-lr;
            font-weight : 400;
        }

    }
}

#voting {
    overflow: hidden;
    height  : 100vh;
    position: relative;

    .title_wrap {
        color          : black;
        font-family    : "Inika", serif;
        font-weight    : 400;
        font-style     : normal;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        width          : 100%;
        padding        : 5vw 0 0;



        .title_en {
            font-size: 5vw;
        }

        .title_cn {
            margin-top : -15px;
            font-family: "LXGW WenKai Mono TC", monospace;
            font-weight: 500;
            font-style : normal;
            font-size  : 2vw;
        }
    }

    .htk_wrap {
        padding        : 2vw;
        display        : flex;
        justify-content: center;
        width          : 100%;

        .htk_box {
            margin: 2vw;
            height: 420px;
            width : 260px;

            .htk_img {
                display                  : flex;
                flex-direction           : column;
                justify-content          : start;
                overflow                 : hidden;
                border                   : 2px black solid;
                height                   : 300px;
                width                    : 260px;
                border-top-left-radius   : 40px;
                border-bottom-left-radius: 20px;

                .type_tag {
                    background-color: black;
                    height          : 40px;
                    color           : white;
                    text-align      : center;
                    line-height     : 40px;
                    font-size       : 25px;
                    font-weight     : 700;
                }

                .img_wrap {
                    height: 260px;

                    img {
                        object-fit: cover;
                        width     : 100%;
                        /* 確保圖片填滿寬度 */
                        height    : 100%;
                        /* 確保圖片填滿高度 */

                    }
                }

            }

            .htk_content {
                border                   : 2px black solid;
                border-top               : 0px;
                height                   : 120px;
                width                    : 260px;
                border-bottom-left-radius: 40px;
                border-top-left-radius   : 20px;
                background-color         : white;
                padding                  : 10px 26px;

                .e_title {
                    font-family: "Noto Sans TC", system-ui;
                    font-size  : 18px;
                    font-weight: 600;
                }

                .e_location {
                    margin-top : 18px;
                    margin-left: -4px;
                    display    : flex;

                    img {
                        width: 20px;
                    }
                }

            }
        }

    }

    .htk_btn {
        display            : flex;
        position           : relative;
        width              : 100%;
        // background-color: #b70aec;
        // height: 10px;

        .arr_more {
            z-index : 2;
            position: absolute;
            right   : 7vw;
            color   : black;

            .text {
                font-size: 18px;

            }

            .arrow {
                margin-top: -10px;
                position  : relative;
                display   : inline-block;
                width     : 150px;
                height    : 50px;



                &::before {
                    content         : '';
                    position        : absolute;
                    top             : 50%;
                    left            : -2px;
                    width           : 100%;
                    height          : 2px;
                    background-color: black;
                }

                &::after {
                    content         : '';
                    position        : absolute;
                    top             : 18px;
                    right           : 0;
                    width           : 20px;
                    height          : 2px;
                    background-color: black;
                    transform       : rotate(45deg);
                }
            }


        }
    }
}

#pic_show {
    overflow: hidden;

    #show_box {
        margin    : 10vw 0;
        height    : 16vw;
        width     : 300%;
        align-self: start;

        #pic_line {
            height    : 100%;
            width     : 100%;
            object-fit: cover;
        }
    }
}

#follow_news {
    height: 100vh;


    .content {
        height             : 100%;
        width              : 100%;
        display            : flex;
        flex-direction     : column;
        align-items        : center;
        background-image   : url(/public/home_img/circle.png);
        background-repeat  : no-repeat;
        background-position: top center;
        margin-top         : 100px;

        .text {
            width        : 30vw;
            margin-top   : -2vw;
            margin-bottom: 2vw;
        }

        .email_box {
            width           : 18vw;
            height          : 48px;
            border-radius   : 99px;
            background-color: black;
            border          : white 1px solid;
            display         : flex;
            align-items     : center;
            justify-content : space-between;
            padding         : 10px;

            img {
                margin: 8px;
                width : 30px;
            }

            input {
                width           : 84%;
                border          : none;
                outline         : none;
                height          : 35px;
                font-size       : 18px;
                margin-right    : 5px;
                background-color: black;
                color           : white;
            }
        }
    }
}